
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #7bbeb7;
  height: 150px;
  padding: 20px;
  color: #d7dda1;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.items {
  margin: 1em 3em;
  padding: 3em 0;
  max-width: 900px;
  /*max-width: var(--max-content-width);*/
  width: 100%;
  display: inline-block;
}

.item {
  float: left;
  max-width: 250px;
  max-height: 255px; /*такая величина избавит от отступа после цены в  десктопной версии*/
  width: 26%;
  height: 100%;
  min-height: 10vw;
  border: solid 0.1vw black;
  margin-left: 4.6%;
  margin-bottom: 20px;
  text-align: center;

}

.preImg {
  width: 100%;
  height: 80%;
  display:block; /* это свойство уберет пробел после фото товара*/
}

.bigImg {
  width: 90%;
  height: 70%;
}

.composed {
  margin: 1em;
  text-align: center;
  display: inherit;
}

.nameItem {
  width: 100%;
  height: 10%;
  font-size: 1.25em;
  color: #d4cbfe;
  background-color: #d0748d;
  display: inline-block;
}

.priceItem {
  width: 100%;
  height: 10%;
  color: #000;
  background-color: #85d4d1;
  display: inline-block;
}

.priceItemCur {
  float: right;
  padding-right: 1em;
}

.priceItemPrice {
  float: left;
  padding-left: 1em;
}
